*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1{
    background-color: lightblue;
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
    color: darkblue;
}

#todo{
    background-color: lightgrey;
    height: 100vh;
    font-size: 24px;
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    list-style-type: none;
    text-align: center;
    border: solid 1px lightskyblue;
    line-height: 100px;
    height: 100px;
}

